/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Basic Styles */
html,
body {
  color: #333;
  background-color: #000000;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

/* Header Section */
header {
  max-width: 1440px;
  margin: 0 auto;
  z-index: 1000;
  padding: 20px 0;
  transition: background-color 3s ease;
}

.nav-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-div li a {
  margin: 5px 40px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: MADE Outer Sans;
  font-style: Light;
  font-size: 20px;
  font-weight: 300;
  line-height: 14px;
  text-align: left;
}

.nav-div li a:hover{
    color: rgba(250, 255, 0, 1);
}

.logo img {
  width: 175px;
}


/* banner section */
.hero{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-content{
    width: 40%;
}
.hero-content h1{
 color: rgba(255, 255, 255, 1);
font-style: Medium;
font-size: 55px;
font-weight: 500;
line-height: 77px;
letter-spacing: 0%;
text-align: left;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.hero-content button{
width: 177px;
height: 52px;
border-radius: 25px;
background: rgba(250, 255, 0, 1);
font-size: 24px;
font-weight: 500;
font-family: Arial, Helvetica, sans-serif;
border: rgba(250, 255, 0, 1);
margin-top: 15px;
 transition: 0.5s ease;
}

.hero-content button:hover{
    background: rgb(218, 9, 9);
    color: aliceblue;
   

}
.hero-img{
    width: 60%;
}
.hero img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    opacity: 0.8;
   filter: contrast(130%);

    
}